apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-auuykuru
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-auuykuru:ac6e5c9b38c25d8c8fcb9c651769b1584ee72289@sha256:5f68b2e7b6ccf6a400e7f9c38fae134f0ac0f918c8e4b78208d12d4532db6a20
          name: container-image
